<h3 class="settings-title"><%= appTheme_i18n %></h3>
<select name="theme">
    <option><%= systemDefault_i18n %></option>
    <% for (let i = 0; i < availableThemes.length; i++){ %>
        <option <%= theme === availableThemes[i].identifier ? "selected" : "" %> value="<%=availableThemes[i].identifier %>" data-category="<%=availableThemes[i].category %>"><%=availableThemes[i].name %></option>
    <% } %>
</select>
<%if (process.platform === "win32"){ %>
<div class="toggle-box">
    <label class="toggle">
        <input type="checkbox" name="acrylic" <%= acrylicEnabled ? "checked" : "" %>>
        <span class="toggle-slider"></span>
        <span class="toggle-label"><%= acrylicEffect_i18n %></span>
    </label>
</div>
<% } %>
<h3 class="settings-title">File Preview</h3>
<div class="toggle-box">
    <label class="toggle">
        <input type="checkbox" name="preview-video" <%= autoPlayPreviewVideo ? "checked" : "" %>>
        <span class="toggle-slider"></span>
        <span class="toggle-label"><%= autoPlayPreviewVideo_i18n %></span>
    </label>
</div>
<%if (process.platform === "win32"){ %>
<div class="toggle-box">
    <label class="toggle">
        <input type="checkbox" name="extract-exe-icon" <%= extractExeIcon ? "checked" : "" %>>
        <span class="toggle-slider"></span>
        <span class="toggle-label"><%= extractExeIcon_i18n %></span>
    </label>
</div>
<% } %>
<h3 class="settings-title">Default File Layout</h3>
<select name="layout">
    <option <%= layout === "s" ? "selected" : "" %> value="s">Small Grid View</option>
    <option <%= layout === "m" ? "selected" : "" %> value="m">Medium Grid View</option>
    <option <%= layout === "l" ? "selected" : "" %> value="l">Large Grid View</option>
    <option <%= layout === "d" ? "selected" : "" %> value="d">Detail View</option>
</select>