<div class="settings-about">
	<div class="settings-about-header">
		<img src="../Icon/icon.png" />
		<h1>Xplorer</h1>
		<span class="settings-about-caption"><%= description %></span>
	</div>
	<div class="settings-about-content">
		<ul>
			<li>
				<span>Version: </span><span><%= version %></span
				><span
					data-tooltip="Copy"
					onClick="<%- copyToClipboard(`Version: ${version}`); %>"
					>&#x2398;</span
				>
			</li>
			<li>
				<span>Electron: </span><span><%= versions.electron %></span
				><span
					data-tooltip="Copy"
					onClick="<%- copyToClipboard(`Electron: ${versions.electron}`); %>"
					>&#x2398;</span
				>
			</li>
			<li>
				<span>Chrome: </span><span><%= versions.chrome %></span
				><span
					data-tooltip="Copy"
					onClick="<%- copyToClipboard(`Chrome: ${versions.chrome}`); %>"
					>&#x2398;</span
				>
			</li>
			<li>
				<span>Node.js: </span><span><%= versions.node %></span
				><span
					data-tooltip="Copy"
					onClick="<%- copyToClipboard(`Node.js: ${versions.node}`); %>"
					>&#x2398;</span
				>
			</li>
			<li>
				<span>V8: </span><span><%= versions.v8 %></span
				><span
					data-tooltip="Copy"
					onClick="<%- copyToClipboard(`V8: ${versions.v8}`); %>"
					>&#x2398;</span
				>
			</li>
			<li>
				<span>OS: </span><span><%= os %></span
				><span
					data-tooltip="Copy"
					onClick="<%- copyToClipboard(`OS: ${os}`); %>"
					>&#x2398;</span
				>
			</li>
		</ul>
	</div>
	<div class="settings-about-footer">
		<a
			class="settings-about-link-btn"
			href="https://github.com/kimlimjustin/xplorer"
			target="_blank"
			>GitHub</a
		>
		<a
			class="settings-about-link-btn"
			href="https://xplorer.vercel.app"
			target="_blank"
			>Documentation</a
		>
		<a
			class="settings-about-link-btn"
			href="https://github.com/kimlimjustin/xplorer/blob/master/LICENSE"
			target="_blank"
			>License</a
		>
		<a
			class="settings-about-link-btn"
			href="https://github.com/kimlimjustin/xplorer/graphs/contributors"
			target="_blank"
			>Contributors</a
		>
	</div>
</div>
