<h2 class="settings-title">Xplorer</h2>
<h3 class="settings-subtitle"><%= description %></h3>
<span class="settings-about">Version: <%= version %> </span>
<span class="settings-about">Electron: <%= versions.electron %> </span>
<span class="settings-about">Chrome: <%= versions.chrome %> </span>
<span class="settings-about">Node.js: <%= versions.node %> </span>
<span class="settings-about">Chrome: <%= versions.chrome %> </span>
<span class="settings-about">V8: <%= versions.v8 %> </span>
<span class="settings-about">OS: <%= os %> </span>

<h3 class="settings-subtitle">Links:</h3>
<ul>
	<li>
		<a href="https://github.com/kimlimjustin/xplorer" target="_blank"
			>GitHub</a
		>
	</li>
	<li>
		<a href="https://xplorer.vercel.app" target="_blank">Documentation</a>
	</li>
	<li>
		<a
			href="https://github.com/kimlimjustin/xplorer/blob/master/LICENSE"
			target="_blank"
			>License</a
		>
	</li>
	<li>
		<a
			href="https://github.com/kimlimjustin/xplorer/graphs/contributors"
			target="_blank"
			>Contributors</a
		>
	</li>
</ul>
